@page
@model project_razor.Pages.OauthClients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OauthClient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OauthClient.ClientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OauthClient.ClientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OauthClient.RedirectUri)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OauthClient.RedirectUri)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OauthClient.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
